<div id="grid"></div>

<script type="text/javascript">
    $("#grid").kendoGrid({
        dataSource: {
            transport: {
                read: {
                    url: "/Item/KendoRead/",
                    dataType: "json"
                },
                update: {
                    url: "/Item/KendoUpdate",
                    dataType: "json"
                },
                destroy: {
                    url: "/Item/KendoDestroy",
                    dataType: "json"
                },
                create: {
                    url: "/Item/KendoCreate",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 10,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "string", editable: false, nullable: true },
                        Name: { validation: { required: true } },
                        Description: { type: "string", required: true },
                        Category: { type: "string", required: true },
                        Completed: { type: "boolean" }
                    }
                }
            }
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        height: 500,
        toolbar: ["create"],
        columns: [
            { field: "id", title: "Id", width: "220px" },
            { field: "name", title: "Name", width: "220px" },
            { field: "description", title: "Description", width: "120px" },
            { field: "category", title: "Category", width: "120px" },
            { field: "isComplete", title: "Completed", width: "120px" },
            { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
        editable: {
            mode: "popup"
        }
    });
</script>