@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>



<style type='text/css'>
    .embeddedServiceHelpButton .helpButton .uiButton {
        background-color: #005290;
        font-family: "Arial", sans-serif;
    }

        .embeddedServiceHelpButton .helpButton .uiButton:focus {
            outline: 1px solid #005290;
        }
</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
    var initESW = function (gslbBaseURL) {
        embedded_svc.settings.displayHelpButton = true; //Or false
        embedded_svc.settings.language = 'bg'; //For example, enter 'en' or 'en-US'

        embedded_svc.settings.defaultMinimizedText = 'Diana - chat with an expert'; //(Defaults to Chat with an Expert)
        embedded_svc.settings.disabledMinimizedText = 'Diana - I am offline'; //(Defaults to Agent Offline)

        embedded_svc.settings.loadingText = 'Diana Loading ...'; //(Defaults to Loading)
        embedded_svc.settings.storageDomain = 'ytodorov.com'; //'dyordanova.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

        // Settings for Live Agent
        //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
        // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
        // Returns a valid button ID.
        //};
        embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
        //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
        embedded_svc.settings.offlineSupportMinimizedText = 'Diana - contact me'; //(Defaults to Contact Us)

        embedded_svc.settings.enabledFeatures = ['LiveAgent'];
        embedded_svc.settings.entryFeature = 'LiveAgent';

        embedded_svc.init(
            'https://brave-raccoon-x0lr0k-dev-ed.my.salesforce.com',
            'https://shumanova-developer-edition.eu16.force.com/codero',
            gslbBaseURL,
            '00D1t000000pIxX',
            'CoderGroup',
            {
                baseLiveAgentContentURL: 'https://c.la1-c1-fra.salesforceliveagent.com/content',
                deploymentId: '5721t000000k9ry',
                buttonId: '5731t000000H3ch',
                baseLiveAgentURL: 'https://d.la1-c1-fra.salesforceliveagent.com/chat',
                eswLiveAgentDevName: 'CoderGroup',
                isOfflineSupportEnabled: true
            }
        );
    };

    if (!window.embedded_svc) {
        var s = document.createElement('script');
        s.setAttribute('src', 'https://brave-raccoon-x0lr0k-dev-ed.my.salesforce.com/embeddedservice/5.0/esw.min.js');
        s.onload = function () {
            initESW(null);
        };
        document.body.appendChild(s);
    } else {
        initESW('https://service.force.com');
    }
</script>
